.flexBox{
  overflow: hidden;
  @apply
  fixed -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2
  shadow shadow-gray-500 rounded-md;
}
.box {
  @apply
  py-8 px-8 inline-flex mx-auto
  bg-white dark:bg-gray-400 dark:bg-opacity-10
  space-y-2 ;
}

.btn {
  cursor: pointer;
  @apply
  px-4 py-1 text-sm text-purple-600 font-semibold block m-auto
  rounded-full border border-purple-200 dark:border-purple-800
  hover:text-white hover:bg-purple-600 hover:border-transparent
  focus:outline-none focus:ring-2 ring-purple-600 ring-opacity-40;
}

.toggle{
  cursor: pointer;
  text-align: center;
  @apply
  px-4 py-1 text-sm text-purple-600 font-semibold pointer w-max border-solid
  rounded-full border border-purple-200 dark:border-purple-800
  hover:text-white hover:bg-purple-600 hover:border-transparent;
}
.btn{
  cursor: pointer;
  text-align: center;
  @apply
  px-4 py-1 text-sm text-purple-600 font-semibold pointer w-max border-solid
  rounded border border-purple-200 dark:border-purple-800
  hover:text-sm hover:bg-purple-300
}
.w-md{
  width: 80px;
}
.mt-20{
  margin-top: 20px;
}
.input{
  outline: none;
  @apply
  px-4 py-1 text-sm text-purple-600 font-semibold block
  rounded border-1 border-purple-500 dark:border-purple-800
  hover:shadow-md
  focus:border-1 focus:border-purple-500 focus:border-solid
  focus-within:border-1 focus-within:border-purple-500
}
.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.flex{
  display: flex;
  justify-content: center;
  justify-items: center;
}
.gird{
  display: grid;
}
.pre{
  background-color: #f6f6f6;
  color: #4d5164;
  border-radius: 5px;
  padding: 10px;
  margin: 5px auto;
}
